@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&family=Roboto&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    background-image: linear-gradient(to right, #C33764 , #1D2671);
    font-family: 'Poppins', sans-serif;
}

.body-container {
    padding-top: 4rem;
}

.card-column {
    background-color: #EFEFEF;
    max-width: 28rem;
    min-height: 5rem;
    padding: 0.5rem;
    border-radius: 12px;
    margin: 1rem;
    height: fit-content;
}


.card-column-header {
    display: flex;
    justify-content: space-between;
    padding: 0 1rem;
}

.dots {
    cursor: pointer;
}

.dot {
    height: 5px;
    width: 5px;
    background-color: black;
    border-radius: 50%;
    display: inline-block;
}

.card {
    background-color: white;
    margin: 1rem auto;
    padding: 1rem;
    border-radius: 12px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

.card-title-row {
    display: flex;
    justify-content: space-between;
}

.delete {
    cursor: pointer;
}

 /* Dropdown Button */
.dropbtn {
  padding: 0 1rem;
  border-radius: 12px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

/* Dropdown button on hover & focus */


/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
  float: right;
}

/* Dropdown Content (Hidden by Default) */
.todo-dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  right: 1rem;
}

.doing-dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  right: 1rem;
}

.done-dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  right: 1rem;
}

/* Links inside the dropdown */
.dropdown-item {
  color: black;
  width: 100%;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-item:hover {background-color: #eee;}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {display:block;}

.draggable {
  cursor: move;
}

.draggable.dragging {
  opacity: .5;
}

@media (min-width: 480px) {
    .card-column {
        margin: 1rem auto;
    }
}

@media (min-width: 1025px) {
    .body-container {
        display: flex;
        justify-content: center;
    }

    .card-column {
        margin: 1rem;
        width: 100%;
    }
}
