<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport"
              content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
        <title>Todo List</title>
    </head>
    <body>
        <section class="card-column container todo">
            <div class="card-column-header">
                <h2>To Do</h2>
                <div class="dropdown">
                    <div class="dots todo-dropbtn" onclick="toggleTodoDropDown()">
                        <!--                    TODO bug where clicking dot does not open dropdown   -->
                        <div class="dot"></div>
                        <div class="dot"></div>
                        <div class="dot"></div>
                    </div>
                    <!-- /.dots -->
                    <div id="todo-dropdown" class="todo-dropdown-content">
                        <a href="{{ url_for('add') }}" class="dropdown-item">Add</a>
                    </div>
                </div>
            </div>
            <!-- /.dropdown -->
            </div>  <!-- /.card-column-header -->
            {% for task in all_task: %}
                <section class="card draggable" draggable="true">
                <div class="card-title-row">
                    <h2>{{ task.title }}</h2>
                    <a href="{{ url_for('delete', task_id=task.id, column_type="Todo") }}" class="delete">❌</a>
                </div>
                {% if task.description: %}
                <h3>{{ task.description }}</h3>
                {% endif %}
                <div class="info">
                    {% if task.due_month and task.due_day %}
                    <p>🕑 {{ task.due_month }} {{ task.due_day }}</p>
                    {% endif %}
                </div>
            </section>
            {% endfor %}
        </section>

        <section class="card-column container doing">
            <div class="card-column-header">
                <h2>Doing</h2>
            </div>
            <!-- /.dropdown -->
            </div>  <!-- /.card-column-header -->
            {% for task in doing_task: %}
                <section class="card draggable" draggable="true">
                <div class="card-title-row">
                    <h2>{{ task.title }}</h2>
                    <a href="{{ url_for('delete', task_id=task.id, column_type="Doing") }}" class="delete">❌</a>
                </div>
                {% if task.description: %}
                <h3>{{ task.description }}</h3>
                {% endif %}
                <div class="info">
                    {% if task.due_month and task.due_day %}
                    <p>🕑 {{ task.due_month }} {{ task.due_day }}</p>
                    {% endif %}
                </div>
            </section>
            {% endfor %}
        </section>

        <section class="card-column container done">
            <div class="card-column-header">
                <h2>Done</h2>
            </div>
            </div>  <!-- /.card-column-header -->
            {% for task in done_task: %}
                <section class="card draggable" draggable="true">
                    <div class="card-title-row">
                        <h2>{{ task.title }}</h2>
                        <a href="{{ url_for('delete', task_id=task.id, column_type="Done") }}" class="delete">❌</a>
                    </div>
                    {% if task.description: %}
                    <h3>{{ task.description }}</h3>
                    {% endif %}
                    <div class="info">
                        {% if task.due_month and task.due_day %}
                        <p>🕑 {{ task.due_month }} {{ task.due_day }}</p>
                        {% endif %}
                    </div>
                </section>
            {% endfor %}
        </section>

        <script src="{{ url_for('static', filename='js/script.js') }}"></script>
        <script src="{{ url_for('static', filename='js/drag_and_drop.js') }}"></script>
    </body>
</html>
